@page "/users"
@attribute [Authorize]
@inject IAccountService AccountService

@using aTES.Auth.Data

<h1>Users</h1>
<NavLink href="users/add" class="btn btn-sm btn-success mb-2">Add User</NavLink>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Username</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Role</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (users != null)
        {
            foreach (var user in users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td style="white-space: nowrap">
                        <NavLink href="@($"users/edit/{user.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                        <button @onclick="@(() => DeleteUser(user.Id))" disabled="@user.IsDeleted" class="btn btn-sm btn-danger btn-delete-user">
                            @if (@user.IsDeleted) 
                            {
                                <span class="spinner-border spinner-border-sm"></span>
                            }
                            else
                            {
                                <span>Delete</span>
                            }
                        </button>
                    </td>
                </tr>
            }
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool loading;
    private IList<PopugUser> users;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        await ReloadUsers();
        loading = false;
    }

    private async Task ReloadUsers() => users = await AccountService.GetAll();

    private async void DeleteUser(string id) 
    {
        await AccountService.Delete(id);
        await ReloadUsers();
        StateHasChanged();
    }
}